/php/app/Config/database.php
/php/app/Config/core.php
/php/app/tmp
/php/lib/Cake/Console/Templates/skel/tmp/
/php/plugins
/php/vendors
/php/build
/php/dist
/php.DS_Store
/php/tags
/php.idea
/php/.idea
/php/app/webroot/img/uploaded
/php/nbproject/private/
/php/nbproject/
